<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <iframe
        src="{{ url_for('navbar') }}"
        scrolling="no"
        frameborder="0"
        width="100%"
        height="50vh"
    >
    </iframe>
    <hr class="side-break">
    <form action="profile" method="post" enctype="multipart/form-data">
        <center>
            <div class="general-form" style="margin-top: 5vh; width: 90%;">
                <div class="profile-container">
                    <div class="profile-box">
                        <br><br><br>
                        <h2 class="general-heading">Profile Image</h2>
                        <br>
                        <img src="/static/img/profiles/{{ profile_img }}" alt="Profile image" class="profile-img">
                        <br><br><br><br>
                        <label class="general-input-redirect-button">
                            <input type="file" accept=".png,.jpg" name="update-img"/>
                            Change
                        </label>
                    </div>
                    <div class="profile-box">
                        <br><br><br>
                        <p class="general-text">Username:</p>
                        <input name="username" style="margin-top: 0vh;" class="general-input" type="text" value="{{ username }}" placeholder="username">
                        <p class="general-text">Real Name:</p>
                        <input name="realname" style="margin-top: 0vh;" class="general-input" type="text" value="{{ realname }}" placeholder="realname (requires password)">
                        <p class="general-text">E-Mail:</p>
                        <input name="email" style="margin-top: 0vh;" class="general-input" type="email" value="{{ email }}" placeholder="email (requires password)">
                        <p class="general-text">New Password:</p>
                        <input name="newpassword" style="margin-top: 0vh;" class="general-input" type="password" placeholder="new password (requires password)">
                        <p class="general-text">Password:</p>
                        <input name="password" style="margin-top: 0vh;" class="general-input" type="password" placeholder="password (current password)">
                    </div>
                    <div class="profile-box">
                        <h2 class="general-heading">Posts</h2>
                        <center>
                            <div class="profile-blog-list-box">
                            {% for url, name in blogs %}

                                <br>
                                <button class="blog-list-box general-text" style="width: 80%;" onclick="redirect('/explore?blog={{ url }}'); return false;">
                                    {{ name }}
                                </button>
                    
                            {% endfor %}
                            </div>
                        </center>
                        <br>
                        <button class="general-redirect-button" type="button" onclick="redirect('/blog/write')">Write Blog</button>
                    </div>
                </div>
                <center>
                    <br><br><br>
                    <input type="submit" value="update" class="general-input">
                </center>
            </div>
        </center>
    </form>
</body>
</html>