<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Page</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <iframe
        src="{{ url_for('navbar') }}"
        scrolling="no"
        frameborder="0"
        width="100%"
        height="50vh"
    >
    </iframe>
    <hr class="side-break">
    <br>
    <center>
        <div class="general-text general-form read-blog-page">
            {{ blog | safe }}
        </div>
        <br>
        <a class="general-text" href="/profile?view={{ unique_id }}">by {{ username }}</a>
        <br>
        {% if authorized %}
            <button class="general-redirect-button" onclick="redirect('/blog/delete?id={{ blog_id }}')">Delete</button>
            <button class="general-redirect-button" onclick="redirect('/blog/edit?id={{ blog_id }}')">Edit</button>
        {% endif %}
    </center>
</body>
</html>