<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="bar">
        <h1 class="general-heading" style="display: inline;">TechCat-Blog</h1>
        <div class="bar-buttons-container">
            <button class="bar-button" onclick="redirect('/explore')">Explore</button>
            <button class="bar-button" onclick="redirect('/login')">Login</button>
            <button class="bar-button" onclick="redirect('/signup')">Signup</button>
            <button class="bar-button" onclick="redirect('/profile')">Profile</button>
        </div>
    </div>
    <hr class="side-break">
</body>
</html>